# Web Framework & Server
fastapi
uvicorn[standard]
python-multipart

# Audio Processing
pyloudnorm
soundfile
numpy
scipy

# Database & Security
pymongo
bcrypt
python-dotenv
cryptography

# AI & Auth
google-genai
google-auth
fastapi-mail

# Utilities
slowapi
anyio
pydantic